###############################################################################
#  Python basics                                                              #
###############################################################################
# byte-code
__pycache__/
*.py[cod]
*.so

# (pipenv, venv, poetry, pdm, pyflow)
.env
.venv/
env/
venv/
__pypackages__/

# mypy, pytype, pyre, rope, Spyder etc
.mypy_cache/
.pytype/
.pyre/
.ropeproject/
.spyderproject
.spyproject

###############################################################################
#  Build & packaging artefacts                                                #
###############################################################################
# setuptools / flit / hatch / pdm
build/
dist/
sdist/
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg
# wheels, generated locally
*.whl
# pytest
.pytest_cache/

###############################################################################
#  Annex4ac specific                                                          #
###############################################################################
annex_schema.yaml
*.pdf
*.tex
*.out
*.toc
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb

###############################################################################
#  LaTeX build dir (for example latexmk -output-directory=out)                   #
###############################################################################
out/

###############################################################################
#  Docker / container                                                         #
###############################################################################
.dockerignore
Dockerfile
docker-compose.yaml
# local file / cache
*.docker
.docker/

###############################################################################
#  IDE & tooling                                                              #
###############################################################################
# VS Code
.vscode/
# JetBrains (PyCharm, IntelliJ)
.idea/
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# macOS, Windows junk
.DS_Store
Thumbs.db

###############################################################################
#  OS-specific                                                         #
###############################################################################
*.swp
*.swo
*.tmp

# Private RSA key for JWT license signing (keep secure!)
private.pem
